.header-bg{
  background: var(--c12);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--esp20);
  max-width: var(--mx);
  margin: 0 auto;
  flex-wrap: wrap;
  gap: var(--esp20);
}

.header-menu{
  display: flex;
  gap: var(--esp40);
  text-transform: uppercase;
  flex-wrap: wrap; 
}


.header-menu a{
  display: inline-block;
  padding: var(--esp16) 0;
  color: var(--c1);
  position: relative;
  font-family: var(--pop);
}

.header-menu a::after{
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: var(--c1);
  margin-top: var(--esp4);
  position: absolute;
}

.header-menu a:hover:after,.header-menu a.ativo:after {
  width: 100%;
  transition: .3s;
}


@media(max-width:800px){
  .header-menu{
    gap: var(--esp20);
  }
  
  .header-menu a{
    background: var(--c11);
    padding: var(--esp12) var(--esp16);
    border-radius: 50px;
  }  

  .header-menu a:hover{
    background: var(--c10);
    
  }

  .header a::after{
    display: none;
  }
}

@media (max-width:600px){
  .header-menu{
    gap: var(--esp12);
  }

  .header-menu a{
    padding: var(--esp8) var(--esp12);
    font-size: var(--fs14);
  }
}