/* Utilities */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,900&family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');
@import url(../utilities-css/reset-global.css);
@import url(../utilities-css/utilities.css);
@import url(../utilities-css/fonts.css);
@import url(../utilities-css/animation.css);

/* Index */
@import url(../index-css/header.css);
@import url(../index-css/main.css);
@import url(../index-css/bike-list.css);
@import url(../index-css/tecnology.css);
@import url(../index-css/partners.css);
@import url(../index-css/depoiment.css);
@import url(../index-css/insurance.css);
@import url(../index-css/footer.css);

/* Bikes */
@import url(../bikes/bikes.css);
@import url(../bikes/bike-pages.css);
@import url(../bikes/bike-pages-insurance.css);

/* Insurance */
@import url(../insurance/vantages.css);
@import url(../insurance/questions.css);

/* Contacts */
@import url(../contacts/contacts.css);
@import url(../contacts/forms.css);
@import url(../contacts/maps.css);

/* Budget */
@import url(../budget/budget-product.css);
@import url(../budget/budget-form.css);
@import url(../budget/budget-details.css);

/* Terms */
@import url(../terms/terms.css);