.questions {
  margin-top: var(--esp60);
  display: grid;
  gap: var(--esp60);
}

.questions button {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.questions button::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background: var(--p1);
}

.questions button::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background-image: url(../img/icones/seta-abrir.svg);
  transition: 0.3s;
}

.questions button:hover::after,
.questions button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

.js .questions dd {
  padding-left: 20px;
  padding-top: 16px;
  max-width: 80ch;
  color: var(--c9);
  display: none;
}

.js .questions dd.actived{
  display: block;
}

.questions-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.questions-list div{
  padding: 10px;
  border-radius: 3px;
}

.questions-list > div:nth-child(odd) {
  background: var(--c1);
}

@media (max-width:800px) {
  .questions{
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0;
    gap: 20px;
  }
  .questions h2{
    margin-bottom: 40px;
  }
}

/* .questions-list dt{
  position: relative;
  display: flex;
  gap: 5px;
}

.questions-list dt::before{
  content: '';
  width: 12px;
  height: 8px;
  background: var(--p1);
  margin-left: var(--esp20);
  align-self: center;
}

.questions-list dd{
  margin-left: 37px;
  opacity: 0;
  transform: translateY(-10px);
  transition: all .3s ease-in-out;
}

dt:hover ~ dd{
  opacity: 1;
  transform: translateY(0);
}

dt{
  padding: 5px;
  cursor: pointer;
}

.questions-list div{
  height: 15px;
  transition: all .3s ease-in-out;
}

.questions-list div:hover{
  height: auto ;
} */
