.bikes-bg {
  background: var(--c11);
}

.content-bikes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  padding-bottom: var(--esp60);
  gap: 40px;
}

.colors-bike {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.colors-bike img {
  flex: 1;
  min-width: 200px;
}

.colors-bike :first-child {
  min-width: 100%;
}

.content-bike-text {
  display: grid;
}

.content-bike-text h2 {
  text-transform: uppercase;
  margin-bottom: var(--esp12);
}

.buy-bikes {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  padding-bottom: var(--esp40);
}

.buy-bikes a {
  grid-row: span 2;
}

.buy-bikes span {
  display: flex;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 50px;
  background: var(--c12);
}

#nimbus .vantages-list,
#nebula .vantages-list,
#magic .vantages-list {
  margin-bottom: var(--esp40);
  background: var(--c12);
  padding: 32px;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border-radius: 50px;
}

#nimbus .vantages-list li,
#nebula .vantages-list li,
#magic .vantages-list li {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  height: 180px;
}

#nimbus .vantages-list li h3,
#nebula .vantages-list li h3,
#magic .vantages-list li h3 {
  font-size: var(--fs18);
  line-height: 1.33;
  font-weight: 600;
  font-family: var(--pop), sans-serif;
}

.content-bike-text > p {
  color: var(--c5);
  font-size: var(--fs24);
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--rb), sans-serif;
  margin-bottom: 32px;
  max-width: 50ch;
}

.content-bike-text div > span {
  font-size: var(--fs12);
  line-height: 1.33;
  font-weight: 600;
  font-family: var(--pop), sans-serif;
  color: var(--c6);
}

.content-bike-text h2 {
  font-size: var(--fs16);
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--pop), sans-serif;
  color: var(--w);
}

.bikes-characteristics-list {
  padding: var(--esp32);
  background: var(--c12);
  border-radius: 50px;
}

.bikes-characteristics-list li {
  display: flex;
  justify-content: space-between;
}

.bikes-characteristics-list li + li {
  border-top: 1px solid var(--c11);
  padding-top: 5px;
}

.bikes-characteristics-list p {
  color: var(--c4);
  display: inline-block;
  text-transform: capitalize;
  font-weight: 500;
  font-size: var(--fs16);
  line-height: 1.5;
  font-family: var(--rb), sans-serif;
}

.bikes-characteristics-list span {
  color: var(--c6);
  font-size: var(--fs16);
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--rb), sans-serif;
}

.subtitle-n {
  color: var(--c12);
}

.swap-bikes {
  display: flex;
  gap: var(--esp40);
  margin-bottom: var(--esp60);
}

.swap-bikes img {
  margin-bottom: var(--esp12);
}

.swap-bikes h3 {
  text-transform: capitalize;
  color: var(--c11);
  position: relative;
  display: flex;
}

.swap-bikes h3::before {
  content: "";
  width: var(--esp12);
  height: var(--esp8);
  display: inline-block;
  align-self: center;
  background: var(--p1);
  margin-right: var(--esp8);
  transition: width 0.2s;
}

.swap-bikes a:hover h3::before {
  width: 24px;
}

.swap-bikes span {
  color: var(--c11);
  margin-left: var(--esp20);
}

@media (max-width: 900px) {
  .content-bikes {
    grid-template-columns: 1fr;
  }
  .vantages-list p{
    font-size: 13px;
  }

  .swap-bikes {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  #nimbus .vantages-list,
  #nebula .vantages-list,
  #magic .vantages-list {
    grid-template-columns: 1fr;
  }

  #nimbus .vantages-list li,
  #nebula .vantages-list li,
  #magic .vantages-list li {
    justify-self: center;
  }
  .content-bikes {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
